# Web Scraping
playwright==1.48.0
beautifulsoup4==4.12.3
requests>=2.32.0

# Firebase
firebase-admin==6.5.0

# AI/ML
google-generativeai==0.8.3
python-dotenv==1.0.1

# Google Places API
googlemaps==4.10.0

# Data Processing
pandas==2.2.3
hangul-romanize==0.1.0
